fieldset {
    color: black; }
  
  img {
    display: flex;
    margin: 0px auto; }
  
  p {
    color: black;
    text-align: left; }
  
  .container-fluid {
    font-family: 'Libre Baskerville', serif;
    flex-direction: column;
    font-size: 1.5rem;
    margin: 0; 
    flex-direction: row;
  }
    
  
  .navbar-collapse {
    flex-grow: inherit; }
  
  .nav-link {
    color: black; }
  
  .navbar-toggler {
    margin: auto; }
  
  
  footer {
    color: red;
    text-align: center;
    margin-top: 4rem; }