@media only screen and (max-width: 980px) and (min-width: 200px) {
    main{
      align-items: center;
      padding: 0rem 10rem;
      flex-direction: column-reverse; }
  
    img {
      align-items: center;
      margin: 0px;
      min-width: 220px;
      border-radius: 20px; }  
    }